<div id="zenit_menu_panel_200px" style="background-color:white;z-index:1">
    <app-calculation-panel (choose)="setUserChoose($event)"></app-calculation-panel>
</div>

<div id="zenit_content_below_menu_panel" style="padding-top:0">
    <ul class="deposits">
        <li *ngFor="let d of deposits | async" (click)="onSelectDeposit(d)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="depo-title">{{d.name}}</div>
                        <div class="depo-descr">{{d.description}}</div>
                    </div>
                    <div class="col-sm-1 calculation">
                        <label style="text-align:left" class="visible-xs">
                            Ставка: &nbsp;&nbsp;
                        </label>
                        {{d.rate}}
                    </div>
                    <div class="col-sm-2 calculation">
                            <label style="text-align:left" class="visible-xs">
                                Доход: &nbsp;&nbsp;
                            </label>
                            {{d.profit}}
                    </div>
                    <div class="col-sm-2 calculation">
                            <label style="text-align:left" class="visible-xs">
                                Сумма через 12 месяцев: &nbsp;&nbsp;
                            </label>
                            {{d.amountAfterPeriod}}
                    </div>
                    <div class="col-sm-2 calculation">
                            <label style="text-align:left" class="visible-xs">
                                Капитализация: &nbsp;&nbsp;
                            </label>
                            {{d.capital}}
                    </div>
                    <div class="col-sm-1 calculation">
                            <label style="text-align:left" class="visible-xs">
                                Срок: &nbsp;&nbsp;
                            </label>
                                <span>{{d.termFr}}</span>
                        <div>{{d.termTo}}</div>
                    </div>
                </div>
            </div>
        </li>
  
    </ul>
</div>