<!-- <div class="container">
    <div class="row"> -->

<div id="zenit_menu_panel_160px" style="background-color:white;z-index:1">
    <app-calculation-panel (choose)="setUserChoose($event)"></app-calculation-panel>
</div>

<div id="zenit_content_below_menu_panel" style="padding-top:10px">
    <ul class="deposits">

        <li *ngFor="let d of deposits">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="depo-title">{{d.name}}</div>
                        <div class="depo-descr">{{d.description}}</div>
                    </div>
                    <div class="col-sm-1">
                        qwqw
                    </div>
                    <div class="col-sm-2">
                        qwqw
                    </div>
                    <div class="col-sm-4">
                        qwqw
                    </div>
                    <div class="col-sm-1">
                        qwqw
                    </div>
                </div>
            </div>
        </li>
  
    </ul>
</div>
<!-- </div>
</div> -->