:host /deep/ .ui-toolbar {
          background-color: transparent;
          border-color: transparent;
          height: 80px;
          /* width: 110%;         */
}

.header-logo { 
          /* border: 1px solid; */
          /* border-color: red; */
          /* background: rgba(0, 170, 238, 0.5); */
          
}

.header-button {
          margin-top: 30px;
          /* border: 1px solid; */
          /* border-color: red; */
}

.ib-header-button {
          margin-top: 20px;
          /* border: 1px solid; */
          /* border-color: red; */
}

.mat-button {
          font-size: medium;
          font-weight: bold;
          color: rgb(69, 175, 189);
          /* padding:5px; */
          background-color: rgba(128, 128, 128, 0.1);
          border-radius: 50px;
}

.mat-raised-button {
          background-color: rgb(69, 175, 189);
          color:white;
          box-shadow: 0;
          border-radius: 50px;
          height:50px;
          width: 130px;
          box-shadow: none !important;
                    /* padding:5px; */
          /* font-size: small; */
}

.material-icons {
          font-size: 30px;
}

.mat-menut {
          background: white !important;
          color: black;
}