:host /deep/ .ui-toolbar {
          background-color: rgb(141, 141, 141);
          border-color: transparent;
          height: 400px;
          /* width: 110%;         */
}

.footer-content {
          color: white;
          font-weight: lighter;
}