<carousel [interval]="interval" style="width:1920px">
  <slide>
    <div class="img-wrap">
      <img src="assets/images/7_cropped.jpg" width="100%" height="500px;" alt="First slide">
      <div id="first-slide-content">
        <div class="business-title">
          <p>
            Доходность
          </p>
          до 93% готовых
        </div>
        <div class="business-content">
          <p>
            Инвестируйте в ценные
            <span>бумаги</span>
          </p>
          на российской
          <span>бирже</span>
        </div>
        <div class="delimeter"></div>
        <div>
          <button color="primary" mat-raised-button>Подробнее</button>
        </div>
        <div class="delimeter"></div>
        <div class="footer-content">
          <p>
            Не является публичной офертойю Указанная доходность
          </p>
          не галантирована и зависит от стоимости ценных бумаг
        </div>
      </div>
    </div>
  </slide>
  <slide>
    <img src="assets/images/2_cropped.jpg" width="100%" height="500px;" alt="First slide">
  </slide>
  <slide>
    <img src="assets/images/4_cropped.jpg" width="100%" height="500px" alt="Third slide">
  </slide>
</carousel>