<div class="container">
  <div class="row">
    <div style="height:200px">
      <div class="col-sm-4" style="border-right:1px solid;border-color:rgba(0, 0, 0, 0.1);height:100%">
        <div style="font-size:30px;color:rgb(69, 175, 189);margin-top:85px;">
          Выбор продукта
        </div>
      </div>

      <div class="col-sm-2">
        <button mat-button>
          <md-icon class="button-text">
            <i class="material-icons">account_balance_wallet</i>
            <div>Кредиты</div>
          </md-icon>
        </button>
      </div>

      <div class="col-sm-2">
        <button mat-button>
          <md-icon class="button-text">
            <i class="material-icons">card_giftcard</i>
            <div>Карты</div>
          </md-icon>
        </button>
      </div>

      <div class="col-sm-2">
        <button mat-button (click)="gotoDeposits()">
          <md-icon class="button-text">
            <i class="material-icons">attach_money</i>
            <div>Вклады</div>
          </md-icon>
        </button>
      </div>

      <div class="col-sm-2">
        <button mat-button>
          <md-icon class="button-text">
            <i class="material-icons">timeline</i>
            <div>Инвестиции</div>
          </md-icon>
        </button>
      </div>
    </div>
  </div>
</div>