<div>
  <div class="col-xs-1">
      <button mat-button>
          <md-icon>
              <i class="material-icons">chevron_left</i>
            </md-icon>
      </button>
  </div>

  <div class="col-xs-2">
   <div class="menu-name">
     Валюта вклада
   </div>
   
   <div>
      <button mat-button>
          <p style="font-size:40px;color:rgb(69, 175, 189)">₽</p>
      </button>
      <button mat-button>
          <p style="font-size:40px;color:rgb(69, 175, 189)">$</p>
      </button>
      <button mat-button>
          <p style="font-size:40px;color:rgb(69, 175, 189)">€</p>
      </button>
   </div>
  </div>

  <div class="col-xs-3">
    djads d ad dad as ad
  </div>

  <div class="col-xs-3">
    djads d ad dad as ad
  </div>

  <div class="col-xs-3">
    djads d ad dad as ad
  </div>
</div>