<div id="zenit_header_background_80px" style="position:fixed;z-index:999;height:80px;width:100%!important;background-color:white"></div>

<div id="zenit_header_80px" style="position:fixed;z-index:1000;width:100%!important">
    <app-header></app-header>
</div>

<div class="hidden-xs" style="position:absolute;z-index:10;">
    <app-carousel></app-carousel>
</div>

<div class="container">
    <!-- 80 px - only 'header' -->
    <!-- 500px  'carousel' with 'header' ('header' over) -->
    <!-- 10 px - space between 'carousel' and 'menu_panel' -->
    <!-- 200px - 'menu_panel' -->
    <!-- 10px - space between 'menu_panel' and 'zenit_content_below_menu_panel' -->
    <div class="row" style="margin-top:510px">
        <router-outlet></router-outlet>
    </div>
</div>

<div>
    <app-footer></app-footer>
</div>