/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~primeng/resources/primeng.css";
@import "~primeng/resources/themes/flick/theme.css";

.global-white-background {
          background-color: white;
}

.global-fixed-style {
          position: fixed;
}

.container {
          margin-left: auto;
          margin-right: auto;
  }