@import '~@angular/material/theming';

@include mat-core();

$zenit-styling-primary: mat-palette($mat-light-blue);
$zenit-styling-accent: mat-palette($mat-cyan, 700, A100, A400);
$zenit-styling-warn: mat-palette($mat-red);

$zenit-styling: mat-light-theme($zenit-styling-primary, $zenit-styling-accent, $zenit-styling-warn);

@include angular-material-theme($zenit-styling);